body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

/*canvas {*/
/*    margin: 20px auto;*/
/*    border: 2px solid black;*/
/*}*/

.renderer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.btn {
    padding: 0;
    width: 105px;
    height: 55px;
    margin: 10px auto 10px;
    /* margin-right: 10px; */
    background: transparent;
    border-radius: 7.79406px;
    border: 2px solid #a14389;
    text-transform: uppercase;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
}
